@font-face {
    font-family: "cyberFont";
    src: url(/Users/brycemajors/Downloads/chakra-petch/ChakraPetch-Bold.ttf) format("truetype");
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
}

.backgroundSide {
    width: 29%;
    max-width: 564px;
    background-image: url("/Users/brycemajors/repos/signupForm/img/CoolPixelArt.jpeg");
}

.formSide {
    background-color: red;
    width: 71%;
    display: flex;
    flex-direction: column;
}

.title {
    background-color: rgba(0, 0, 0, 0.5);
    height: 10%;
    margin-top: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h1 {
    color: white;
    font-family: "cyberFont";
    font-size: 50px;
}

.title .diamondImg {
    height: 200px;
    margin-right: -70px;
    margin-left: -70px;
    margin-top: 10px;
}

.intro {
    background-color: orange;
    height: 35%;
}

.form {
    background-color: pink;
    height: 30%;
}

.createAcct {
    background-color: grey;
    height: 35%;
}